<div class="row">
  <div class="ten columns">
    <div class="g_location_head">
      <h3>DISPLAYING MERCHANT DETAILS</h3>
      <h4><%= @merchant.full_name %></h4>

      <div class="g_loca_det">
        <p>EMAIL <span><%= @merchant.email %></span></p>

        <p>SHOP NAME <span><%= @merchant.shop.name %></span></p>

        <p>SHOP ADDRESS <span><%= @merchant.shop.address %></span></p>

      </div>
      <!--g_loca_det eds-->
    </div>

  </div>
  <!--ten columns ends-->
  <div class="six columns">
    <div class="g_partner_loc">
      <div id="map" style='width: 100%; height: 604px;'></div>
    </div>
    <!--g_partner_loc ends-->
  </div>
  <!--six columns ends-->
</div>

<script type="text/javascript">

    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function () {
        markers = handler.addMarkers([
            {
                "lat": <%=raw @merchant.shop.latitude %>,
                "lng": <%=raw @merchant.shop.longitude %>,
                "picture": {
                    "width": 124,
                    "height": 78
                }
            }
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(12);
    });

</script>