<div data-rail-visible="0" data-always-visible="1" style="overflow: hidden; width: auto; height: 50px;" class="scroller" data-initialized="1">
  <div class="row">
    <div class="col-md-2 col-sm-3 col-xs-6 text-stat">
										<span class="label label-sm label-success">
										Total Customers: </span>

      <h3><%= @total_customers %></h3>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6 text-stat">
										<span class="label label-sm label-info">
										New Customers: </span>

      <h3><%= @new_customers %></h3>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6 text-stat">
										<span class="label label-sm label-danger">
										Repeat: </span>

      <h3><%= @repeated_customers %></h3>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6 text-stat">
										<span class="label label-sm label-warning">
										Drinks Bought: </span>

      <h3><%= @drinks_bought %></h3>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6 text-stat">
										<span class="label label-sm label-warning">
										Food Bought: </span>

      <h3><%= @food_bought %></h3>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6 text-stat">
										<span class="label label-sm label-warning">
										Add Ons: </span>

      <h3><%= @add_ons %></h3>
    </div>

  </div>

</div>
