<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div><%= f.label :password, "New password" %><br/>
      <%= f.password_field :password, autofocus: true, autocomplete: "off" %></div>

    <div><%= f.label :password_confirmation, "Confirm new password" %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

    <div>
      <%#= f.submit "Change my password" %>
      <input type="button" value="Change my password" onclick="change_password()">
    </div>
<% end %>

<%#= render "users/shared/links" %>
<script>
    $("#logo_href").attr("href", "javascript:;");
    function change_password() {
        $("#new_user").ajaxSubmit({
            beforeSubmit: function (a, f, o) {
                o.dataType = 'json';
            },
            success: function (data) {
                console.log(data.success);
                if (data.success == true) {
                    alert("Updated Successfully.")
                } else {
                    $(".alert-danger").show();
                    alert(data.error)
                }
                $("#ajax_loader").hide();
                $(".shadow").hide();
            },
            error: function (data) {
                window.location.reload();
            }
        });
        $("#user_password").val("")
        $("#user_password_confirmation").val("")
    }
</script>